body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header a, .hero-section p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-1, .hero-2 {
    padding: 24px;
    width: 35%;
}

.hero-2 {
    background-color: #e5e7eb;
    text-align: center;
    height: 248px;
    padding: 0;
}

.hero-2 p {
    font-size: 18px;
    color: white;
}

.info-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group {
    display: flex;
    gap: 18px;
    padding-bottom: 90px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.info-section .info-text {
    color: #1f2937;
}

.info-sq {
    border: 3px solid lightblue;
    width: 100px;
    height: 100px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

cite {
    text-align: justify;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    color: #1f2937;
    font-weight: bold;
    float: right;
    margin-top: 50px;
}

.quote-space {
    width: 35%;
    margin: 50px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-1 {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 60px;
}

.cta-1-title {
    margin-bottom: 3px;
}

.cta-1-p {
    margin-top: 3px;
}

button {
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    color: white;
    margin-left: 48px;
    padding: 8px 12px;
}

.hero-button {
    margin: 0;
    border: none;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 8px;
}

.hero-section, .info-section, .quote-section, .cta-section {
    padding: 60px;
}